body {
    background-color: orange;
}
h1 {
    color: blue;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: lightblue;
}
table, th, td {
    border:1px solid rgb(233, 14, 14);
}
img {
    box-shadow: 100px;
}